# easy to navigation
alias ..='cd ..'
alias cd..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'

# shortcuts
alias ch='history -c && > ~/.bash_history'
alias dl='cd ~/Downloads; ls -la'
alias g='git'
alias ln='ln -s'
alias tmp='cd ~/Temporary; ls -la'

# minify
alias artisan='php artisan'
alias laravel='~/.composer/vendor/bin/laravel'
alias lumen='~/.composer/vendor/bin/lumen'
alias node='nodejs'
alias phpunit='vendor/bin/phpunit'
alias python='python3.4'

# typos
alias nano='use-vim && vim'
alias quit='exit'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# easy report
alias l='ls'
alias la='ls -la'
alias lsd='ls -l | grep "^d"'
alias disk-report='df -P -kHl'

# editor, server & config
alias nginx-conf='sudo vim /etc/nginx/sites-available/default'
