root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.{css,html,js,json,scss,vue,xml,yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
