# Main exports.
export ZSH="$HOME/.oh-my-zsh"
export PATH="$PATH:$HOME/.composer/vendor/bin:$HOME/.npm-global/bin:$HOME/.cargo/bin:$HOME/.gem/bin:$HOME/.local/bin"
export LANG="en_US.UTF-8"
export EDITOR="subl"
export TERM="xterm-256color"
export PROMPT_EOL_MARK=""

# User settings.
export BASE16_SHELL="$HOME/.config/base16-shell"
export BAT_THEME="Material-Theme-Darker"
export FZF_DEFAULT_OPTS="
    --color=fg:#c0c5ce,bg:#212121,hl:#808080,fg+:#e6e6e6,bg+:#3b3b3b,hl+:#f7c662
    --color=info:#f7c662,prompt:#6699cc,pointer:#a6bc69,marker:#a6bc69,spinner:#f7c662,header:#6699cc
"
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

# Bash history settings.
export HISTTIMEFORMAT="%F %T "      # the format is from date command
export HISTCONTROL=ignoredups       # no duplicate entries
export HISTSIZE=2000                # big history (default is 500)
# Save and reload the history after each command finishes in another bash session.
export PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"

# Highlighting inside manpages and elsewhere.
export LESS_TERMCAP_mb=$'\e[1;31m'          # start blinking
export LESS_TERMCAP_md=$'\e[1;34m'          # start bold mode
export LESS_TERMCAP_me=$'\e[0m'             # end all mode
export LESS_TERMCAP_so=$'\e[38;5;215m'      # start standout mode
export LESS_TERMCAP_se=$'\e[0m'             # end standout mode
export LESS_TERMCAP_us=$'\e[4;35m'          # start underline
export LESS_TERMCAP_ue=$'\e[0m'             # end underline
