#define base00 #1D1F21
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #B8B8B8
#define base05 #D8D8D8
#define base06 #E8E8E8
#define base07 #F8F8F8
#define base08 #AB4642
#define base09 #DC9656
#define base0A #F7CA88
#define base0B #A1B56C
#define base0C #86C1B9
#define base0D #7CAFC2
#define base0E #BA8BAF
#define base0F #A16946

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
