! Base16 dikiaap
! Scheme: Diki Ananta (https://dikiaap.id)

#define base00 #212121
#define base01 #343D46
#define base02 #4F5B66
#define base03 #65737E
#define base04 #A7ADBA
#define base05 #C0C5CE
#define base06 #CDD3DE
#define base07 #D8DEE9
#define base08 #E57373
#define base09 #F99157
#define base0A #FAC863
#define base0B #A6BC69
#define base0C #5FB3B3
#define base0D #6699CC
#define base0E #C594C5
#define base0F #AB7967

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
